version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    image: rgtech-web:dev
    ports:
      - '3000:3000'
    environment:
      - CHOKIDAR_USEPOLLING=1
    volumes:
      - ./:/app:cached
      - /app/node_modules
    stdin_open: true
    tty: true
    command: npm start
